html {
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
    html {
            font-size: 14px;
    }
}

@media (min-width: 768px) {
    html {
            font-size: 16px;
    }
}

@media (min-width: 992px) {
    html {
            font-size: 18px;
    }
}

@media (min-width: 1200px) {
    html {
            font-size: 20px;
    }
}

.icons-social i {
    font-size: 4em;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    padding: 0 30px;
    text-align: center;
}

main > .intro {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 3.75em;
    font-weight: 100;
    padding: 30px;
}

main > .tagline {
    font-family: monospace;
    font-size: 1.5em;
    font-weight: 100;
    margin: 1.5rem 0

}

.contact-form {
    
    justify-content: center;
}

.icons-social i {
    padding: 20px;
}

h2.tech-header {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 2rem;
    padding: 20px;
}

main > .icons-tech h2 {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 1rem;
}

.devto {
    margin-bottom: -0.20rem
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}

.contact-header {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}