html {
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
    html {
            font-size: 14px;
    }
}

@media (min-width: 768px) {
    html {
            font-size: 16px;
    }
}

@media (min-width: 992px) {
    html {
            font-size: 18px;
    }
}

@media (min-width: 1200px) {
    html {
            font-size: 20px;
    }
}




.wrapper {
  display: grid;
  max-width: 1vh;
  grid-template-columns: 1fr ;
  grid-auto-rows: minmax(100px, auto);
  
}
header {
  padding: 40px;
  grid-column: 1 / 5 ;
}
header .my-name{
  grid-column: 1 / 5;
  font-family: 'Joschmi';
  position: absolute;
  align-self: center;
  font-size: 5em;
  z-index: 2;
}

header #red-circle{ 
  width: 150px;
  justify-content: center;
  z-index: 1;
}



.social-container {
  padding: 10px;
  margin: 10px;

}

#social-icon{
  max-width: 300px;
  margin: 40px;
  padding: 20px;
  display: inline;
}

.icons {
  display: flex;
  align-items: center;
  max-height: 40px;
  padding: 30px;
  margin: 10px;

}


.about-me-container {
  grid-column: 1 / -1 ;
  display: flex;
  align-items: center;
  justify-items: left;
  padding: 10px;
  margin: 10px;
}

.about-me-container #about-me-icon {
  grid-column: 1 ;
  max-height: 400px;
  min-height: 200px;
  padding: 40px;
  margin: 0;
}

.about-me-container #bio {
  grid-column: 2 / -1 ; 

}

.skills-container {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-items: left;
  padding: 10px;
  margin: 10px;
}

.skills-container .skills-img {
  max-height: 400px;
}

.skills-container .languages{
  max-height: 200px;
}


.contact-container {
  grid-column: 1 / -1; 
  display: flex;
  align-items: center;
}

.contact-container .contact-icons {
  max-height: 100px;
  max-width: 100px;
}

footer {
  padding: 10px;
margin: 10px;
grid-column: 1 / -1;
max-width: 100%;
max-height: auto;
}