html {
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
    html {
            font-size: 14px;
    }
}

@media (min-width: 768px) {
    html {
            font-size: 16px;
    }
}

@media (min-width: 992px) {
    html {
            font-size: 18px;
    }
}

@media (min-width: 1200px) {
    html {
            font-size: 20px;
    }
}




.wrapper {
  display: grid;
  grid-template-columns: repeat(2 1fr);
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-areas: 
  "header header"
  "row2-left row2-right"
  "row3 row3"
  "row4 row4"
  "row5 row5"
  "footer footer"
}

header {
  grid-area: header;
  align-items: center;
  justify-items: left;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "circle name";
  margin-bottom: 1em;

}
.my-name{
  grid-area: name;
  font-family: 'Joschmi';
  font-size: 7em;
  position: absolute;
  z-index: 2;
}

#red-circle{ 
  grid-area: circle;
  max-width: 80%;
  z-index: 1;
}



.social-container {
  grid-area: row2-left;
  max-height: 100px;
  display: grid;
  grid-gap: 1rem;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr ;
  grid-template-areas:
  "si si ."
  "li gb cc"
  
}

.social-container #social-icon{
  grid-area: si;
  width: 60%;
  height: auto;
  padding: 20px;
  align-self: center;
}

.social-container #linkedin-icon{
  grid-area: li;
  width: 40%;
  padding: 20px;
  align-self: center;

}

.social-container #github-icon{
  grid-area: gb;
  width: 40%;
  padding: 30px;
  align-self: center;
}

.social-container #free-code-camp-icon{
  grid-area: cc;
  width: 40%;
  padding: 50px;
  align-self: center;
 
}

.avatar-container {
  grid-area: row2-right;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
  "first second"

}

.avatar-container #avatar {
  grid-area: second ;
  padding: 20px;
  max-width: 200px;

}

 #avatar-quote {  
  grid-area: left;
  font-size: 2em;
  font-family: 'Roboto';

}


.about-me-container {
grid-area: row3;
display: grid;
max-height: auto;
max-width: auto;
align-items: center;
justify-items: left;

grid-template-columns:1fr 1fr ;
grid-template-areas: "left right";



}

#about-me-icon {
  grid-area: left;
  height: 300px;
  padding: 40px;
  margin: 0;
}

.bio {
  grid-area: right;
  justify-content: left;


}

.skills-container {
grid-area: row4;
}

.contact-container {
 grid-area: row5;

}

footer {
grid-area: footer;
display: grid;
max-width: 100%;
max-height: auto;
}